{% include '/partials/header.html' %}

<div class="py-3">
  <h2>Add Quote</h2>
</div>

<form action="{{ url_for('insert_quote') }}" method="post" class="col-lg-6">
  <div class="mb-3">
    <label for="category">Category</label>
    <select class="form-select" id="category" name="category" required>
      {% for category in categories %}
      <option value="{{ category[0] }}">{{ category[1] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea
      class="form-control"
      id="content"
      name="content"
      rows="5"
      required
      style="resize: none"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Add Quote</button>
</form>

{% include '/partials/footer.html' %}
