{% include '/partials/header.html' %}

<div class="py-3">
  <h2>Edit Quote</h2>
</div>

<form action="{{ url_for('update_quote', id=quote[0]) }}" method="post">
  <div class="mb-3">
    <label for="category">Category</label>
    <select class="form-select" id="category" name="category" required>
      {% for category in categories %}
      <option value="{{ category[0] }}">{{ category[1] }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea
      class="form-control"
      id="content"
      name="content"
      rows="3"
      required
    >
{{ quote[2] }}</textarea
    >
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      value="{{ quote[3] }}"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Update Quote</button>
</form>

{% include '/partials/footer.html' %}
