{% include '/partials/header.html' %}
<div class="card m-auto w-50">
  <div class="card-header">
    <h2 class="mb-0">Login</h2>
  </div>
  
  <div class="card-body">
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
    <form action="/login" method="post">
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="username-field">Username</label>
        <input type="text" id="username-field" name="username" placeholder="Enter Username" class="form-control" />
      </div>
    
      <!-- Password -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="password-field">Password</label>
        <input type="password" id="password-field" name="password" placeholder="Enter Password" class="form-control" />
        
      </div>
      <!-- Submit button -->
      <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
  </div>
</div>
{% include '/partials/footer.html' %}
